---
import { pwaInfo } from 'virtual:pwa-info'

export interface Props {
  title: string;
}

const { title } = Astro.props
const origin = Astro.request.headers.get('host')
---

<!DOCTYPE html>
<html class="transition-background-color ease-out duration-200">
  <head>
    <meta charset="UTF-8" />
    <meta name="X-Frame-Options" content="sameorigin">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,viewport-fit=cover">
    <link rel="icon" type="image/svg+xml" href="/icon.svg">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="180x180">
    <link rel="mask-icon" href="/icon.svg" color="#FFFFFF">
    <meta name="theme-color" content="#212129">
    <meta name="generator" content={Astro.generator}>
    <title>{title} - {origin}</title>
    <meta name="description" content="Chat for free with AI chatbot" />
    { import.meta.env.HEAD_SCRIPTS && <Fragment set:html={import.meta.env.HEAD_SCRIPTS } /> }
    { pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} /> }
    { import.meta.env.PROD && pwaInfo && <Fragment set:html={pwaInfo.registerSW.scriptTag} /> }
    <link rel="prefetch" href="https://wechat-group.bnu120.space/">
    <link rel="prefetch" href="https://cdn.muspimerol.site/sponsorship.html">
    <link rel="prefetch" href="https://ic.muspimerol.site/">
    <link rel="prefetch" href="https://www.keyanyuedu.com/?channel=freechat">
    <link rel="prefetch" href="https://cdn.muspimerol.site/Free%20Chat%20%E9%9A%90%E7%A7%81%E5%8D%8F%E8%AE%AE">
  </head>
  <body>
    <slot />
  </body>
  <script defer src="https://visit-count.muspimerol.site/"></script>
</html>

<style is:global>
  :root {
    --c-bg: #fbfbfb;
    --c-fg: #444444;
    --c-scroll: #d9d9d9;
    --c-scroll-hover: #bbbbbb;
    scrollbar-color: var(--c-scrollbar) var(--c-bg);
  }

  html {
    font-family: system-ui, sans-serif;
    background-color: var(--c-bg);
    color: var(--c-fg);
  }

  html.dark {
    --c-bg: #212129;
    --c-fg: #ddddf0;
    --c-scroll: #333333;
    --c-scroll-hover: #555555;
  }
</style>

<script>
const initTheme = () => {
  const darkSchema = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches
  const storageTheme = localStorage.getItem('theme')
  if (storageTheme) document.documentElement.classList.toggle('dark', storageTheme === 'dark')
  else document.documentElement.classList.toggle('dark', darkSchema)
}

initTheme()
</script>
